html{
	width: 100%;
	height: 100%;
}
body{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
}

h2{
	font-size: 25px;
	font-weight: bold;
}

h3{
	font-weight: bold;
}

.container{
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;

	border: 5px solid black;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
}

.logo{
	padding-top: 20px;
	width: 960px;
	height: auto;
}

nav{
	width: 438px;
	margin-left: 261px;
}

nav button{
	float: left;
	width: 200px;
	height: 50px;
	margin-right: 15px;
	margin-bottom: 25px;
	background-color: rgba(255, 255, 255);
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

nav button:hover{
	opacity: 0.6;
}

.line{
	border-width: 2px;
	border-color: black;
	background-color: black;
	color: black;
	width: 856px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg-video {
    width: auto;
    height: 100%;
  }
}

.maindiv{
	margin-left: 50px;
}

.bio{
	width: 860px;
	text-indent: 50px;
	margin-bottom: 25px;
}

.bio a{
	text-decoration: none;
}

.bioheader{
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 15px;
}

.gamediv{
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 430px;
}

.gamediv img{
	margin-left: 15px;
	width: 396px;
	height: auto;

	border: 2px solid black;

}

.gamediv .phone{
	width: 192px;
}

.gamediv h2{
	margin-left: 50px;
	margin-bottom: 15px;
}

.gamediv p{
	text-indent: 50px;
}

.gamediv a p{
	text-indent: 0px;
	text-align: center;
	margin-bottom: 6px;
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}

.gamediv .bullet{
	text-indent: 0px;
}

footer h2{
	text-align: center;
	margin-bottom: 25px;
}

footer ul{
	height: 128px;
	margin-bottom: 25px;

	margin-left: 238px;
}

footer li{
	float: left;
	margin-left: 25px;
}

/*EXTRAS*/
a:hover{
	opacity: 0.6;
}

a p:hover{
	opacity: 0.6;
}

.bold{
	font-weight: 900;
}